In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

from sklearn.datasets import load_diabetes
from sklearn.preprocessing import OrdinalEncoder

from featimp import (
    get_corr_importances,
    get_chi2_crosstab_importances,
    get_chi2_importances,
    get_anova_importances,
    get_mutual_info_importances,
    get_ml_importances,
    get_permutation_importances,
    get_feature_importances,
    )

sns.set()
warnings.simplefilter("ignore")
cm = sns.light_palette("green", as_cmap=True)

# Data Preparations

In [2]:
diabetes_data = load_diabetes()
df_diabetes = pd.DataFrame(data=diabetes_data.data, columns=diabetes_data.feature_names)
df_diabetes['sex'] = df_diabetes['sex'].astype(str)
df_diabetes['sex'].replace({'0.0506801187398187':'M', '-0.044641636506989':'F'}, inplace=True)
df_diabetes['random_cat_col'] = np.random.choice(['A', 'B', 'C'], size=len(df_diabetes), p=[0.9, 0.05, 0.05])
df_diabetes['target_reg'] = diabetes_data['target']
df_diabetes['target_clf'] = pd.cut(diabetes_data['target'], 4)
df_diabetes.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,random_cat_col,target_reg,target_clf
0,0.038076,M,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,A,151.0,"(105.25, 185.5]"
1,-0.001882,F,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,A,75.0,"(24.679, 105.25]"
2,0.085299,M,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,A,141.0,"(105.25, 185.5]"
3,-0.089063,F,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,C,206.0,"(185.5, 265.75]"
4,0.005383,F,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,A,135.0,"(105.25, 185.5]"

In [3]:
cat_features = list(df_diabetes.select_dtypes('object').columns)
num_features = list(df_diabetes.select_dtypes('float').columns)
num_features.remove("target_reg")
features = num_features + cat_features
print("cat_features:", cat_features)
print("num_features:", num_features)

cat_features: ['sex', 'random_cat_col']
num_features: ['age', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']

# Correlation Importances

In [4]:
corr_df = get_corr_importances(data=df_diabetes, num_features=num_features, target='target_reg')
corr_df.style.background_gradient(cmap=cm)

# Chi2 Crosstab Importances

In [11]:
cat_corr_df = get_chi2_crosstab_importances(data=df_diabetes, cat_features=cat_features, target='target_clf')
cat_corr_df.style.background_gradient(cmap=cm)

# Chi2 Importances

In [10]:
df_diabetes_enc = pd.DataFrame(OrdinalEncoder().fit_transform(df_diabetes[cat_features+['target_clf']]), columns=cat_features+['target_clf'])
chi2_df = get_chi2_importances(data=df_diabetes_enc, features=cat_features, target='target_clf')
chi2_df.style.background_gradient(cmap=cm)

# ANOVA Importances

In [14]:
df_diabetes_enc = pd.DataFrame(OrdinalEncoder().fit_transform(df_diabetes[cat_features+['target_clf']]), columns=cat_features+['target_clf'])
df_diabetes_enc = pd.concat([df_diabetes_enc, df_diabetes[num_features]], axis=1)
df_diabetes_enc['target_reg'] = df_diabetes['target_reg']
df_diabetes_enc.head()

,sex,random_cat_col,target_clf,age,bmi,bp,s1,s2,s3,s4,s5,s6,target_reg
0,1.0,0.0,1.0,0.038076,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,0.0,0.0,0.0,-0.001882,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,1.0,0.0,1.0,0.085299,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,0.0,0.0,2.0,-0.089063,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.0,0.0,1.0,0.005383,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0

In [8]:
anova_df = get_anova_importances(data=df_diabetes_enc, features=num_features, target='target_clf')
anova_df.style.background_gradient(cmap=cm)

In [15]:
anova_df = get_anova_importances(data=df_diabetes_enc, features=cat_features, target='target_reg')
anova_df.style.background_gradient(cmap=cm)

# Mution Informaton Importances

In [12]:
df_diabetes_enc = pd.DataFrame(OrdinalEncoder().fit_transform(df_diabetes[cat_features+['target_clf']]), columns=cat_features+['target_clf'])
df_diabetes_enc = pd.concat([df_diabetes_enc, df_diabetes[num_features]], axis=1)
df_diabetes_enc['target_reg'] = df_diabetes['target_reg']
df_diabetes_enc.head()

,sex,random_cat_col,target_clf,age,bmi,bp,s1,s2,s3,s4,s5,s6,target_reg
0,1.0,0.0,1.0,0.038076,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,0.0,0.0,0.0,-0.001882,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,1.0,0.0,1.0,0.085299,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,0.0,0.0,2.0,-0.089063,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.0,0.0,1.0,0.005383,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0

In [13]:
mi_scores_df = get_mutual_info_importances(data=df_diabetes_enc, features=cat_features, target='target_clf')
mi_scores_df.style.background_gradient(cmap=cm)

# Machine Learning Importances

In [4]:
df_diabetes_enc = pd.DataFrame(OrdinalEncoder().fit_transform(df_diabetes[cat_features+['target_clf']]), columns=cat_features+['target_clf'])
df_diabetes_enc = pd.concat([df_diabetes_enc, df_diabetes[num_features]], axis=1)
df_diabetes_enc['target_reg'] = df_diabetes['target_reg']
df_diabetes_enc.head()

,sex,random_cat_col,target_clf,age,bmi,bp,s1,s2,s3,s4,s5,s6,target_reg
0,1.0,0.0,1.0,0.038076,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,0.0,0.0,0.0,-0.001882,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,1.0,0.0,1.0,0.085299,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,0.0,0.0,2.0,-0.089063,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.0,0.0,1.0,0.005383,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0

In [5]:
ml_importance_df = get_ml_importances(data=df_diabetes_enc, num_features=num_features, cat_features=cat_features, target='target_clf', fold_type='skf', 
                                        nfold=10, model_name='LGBM', task='clf_multiable', random_state=0, early_stopping_rounds=100)
ml_importance_df.style.background_gradient(cmap=cm)

In [6]:
ml_importance_df = get_ml_importances(data=df_diabetes_enc, num_features=num_features, cat_features=cat_features, target='target_clf', fold_type='skf', 
                                        nfold=10, model_name='CATBOOST', task='clf_multiable', random_state=0, early_stopping_rounds=100)
ml_importance_df.style.background_gradient(cmap=cm)

In [7]:
ml_importance_df = get_ml_importances(data=df_diabetes_enc, num_features=num_features, cat_features=cat_features, target='target_reg', fold_type='kf', 
                                        nfold=10, model_name='LGBM', task='reg', random_state=0, early_stopping_rounds=100)
ml_importance_df.style.background_gradient(cmap=cm)

In [8]:
ml_importance_df = get_ml_importances(data=df_diabetes_enc, num_features=num_features, cat_features=cat_features, target='target_reg', fold_type='kf', 
                                        nfold=10, model_name='CATBOOST', task='reg', random_state=0, early_stopping_rounds=100)
ml_importance_df.style.background_gradient(cmap=cm)

# Permutation Importances

In [13]:
df_diabetes_enc = pd.DataFrame(OrdinalEncoder().fit_transform(df_diabetes[cat_features+['target_clf']]), columns=cat_features+['target_clf'])
df_diabetes_enc = pd.concat([df_diabetes_enc, df_diabetes[num_features]], axis=1)
df_diabetes_enc['target_reg'] = df_diabetes['target_reg']
df_diabetes_enc.head()

,sex,random_cat_col,target_clf,age,bmi,bp,s1,s2,s3,s4,s5,s6,target_reg
0,1.0,0.0,1.0,0.038076,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,0.0,0.0,0.0,-0.001882,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,1.0,0.0,1.0,0.085299,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,0.0,0.0,2.0,-0.089063,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.0,0.0,1.0,0.005383,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0

In [20]:
from sklearn.ensemble import RandomForestClassifier
permutation_importance_df = get_permutation_importances(data=df_diabetes_enc, features=features, target='target_clf', fold_type='skf', nfold=10, 
                                                        score='f1_macro', model_base=RandomForestClassifier(random_state=0), random_state=0, n_repeats=30)
permutation_importance_df.style.background_gradient(cmap=cm)

In [21]:
from sklearn.ensemble import RandomForestRegressor
permutation_importance_df = get_permutation_importances(data=df_diabetes_enc, features=features, target='target_reg', fold_type='kf', nfold=10, 
                                                        score='neg_mean_squared_error', model_base=RandomForestRegressor(random_state=0), random_state=0, n_repeats=30)
permutation_importance_df.style.background_gradient(cmap=cm)

# All Feature Importances

In [4]:
fi_df = get_feature_importances(data=df_diabetes, num_features=num_features, cat_features=cat_features, target='target_clf', task='clf_multiable', method='all')
fi_df.style.background_gradient(cmap=cm)

In [5]:
fi_df = get_feature_importances(data=df_diabetes, num_features=num_features, cat_features=cat_features, target='target_clf', task='clf_multiable', ml_model_name='CATBOOST', method='all')
fi_df.style.background_gradient(cmap=cm)

In [4]:
fi_df = get_feature_importances(data=df_diabetes, num_features=num_features, cat_features=cat_features, target='target_reg', task='reg', method='all')
fi_df.style.background_gradient(cmap=cm)

In [5]:
fi_df = get_feature_importances(data=df_diabetes, num_features=num_features, cat_features=cat_features, target='target_reg', task='reg', ml_model_name='CATBOOST', method='all')
fi_df.style.background_gradient(cmap=cm)

In [4]:
fi_df = get_feature_importances(data=df_diabetes, num_features=num_features, cat_features=cat_features, target='target_clf', task='clf_multiable', 
                                method=['chi2_crosstab', 'anova', 'ml'])
fi_df.style.background_gradient(cmap=cm)

In [6]:
fi_df = get_feature_importances(data=df_diabetes, num_features=num_features, cat_features=cat_features, target='target_clf', task='clf_multiable', 
                                method=['chi2_crosstab', 'pi', 'anova'])
fi_df.style.background_gradient(cmap=cm)